
.garden-photo {
  padding: 5px;
  width: 60px;
  height: 60px;
  margin-top: 10px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  display: inline-block;
  margin: 0.2em;
  // box-shadow: 0px 15px 10px -15px lightgrey;
}
@media all and (min-width: 800px) {
  .garden-photo {
    width: 300px;
    height: 300px;
  }
}

@media all and (min-width: 1200px) {
  .garden-photo {
    width: 400px;
    height: 400px;
  }
}


