:root {
  --gutter: 1px;
  --wrapper: calc(100vw - (2 * var(--gutter)));

  --noOfColumns: 3;

  --noOfGutters: calc(var(--noOfColumns) - 1);

  --ratioA: 1;
  --ratioB: 1;

  --factor: calc(var(--ratioB) / var(--ratioA));

  --rh: calc(
    (
        (var(--wrapper) - (var(--noOfGutters) * var(--gutter))) /
          var(--noOfColumns)
      ) * var(--factor)
  );

  @media (min-width: 60em) {
    --wrapper: 60em;
    --gutter: 5px;
  }
}

.garden {
  max-width: var(--wrapper);
  display: grid;
  grid-template-columns: repeat(var(--noOfColumns), minmax(0, 1fr));
  grid-auto-flow: dense;
  grid-auto-rows: minmax(var(--rh), auto);
  grid-gap: var(--gutter);
  margin: var(--gutter);
  overflow-x: hidden;
  @media (min-width: 60em) {
    margin: var(--gutter) auto;
  }
}
