.garden-photo {
  width: auto;
  margin: 0;
  position: relative;
  flex: 1 0 22rem;
  margin: 1rem;
  color: #fff;
  cursor: pointer;
}

.garden-photo:hover .garden-photo-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.garden-photo-info {
  display: none;
}

.garden-photo-info li {
  display: inline-block;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.garden-photo-icon {
  margin-right: 2.2rem;
}

.garden-photo-type {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}
.garden-photo-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
