body {
  overflow: hidden;
  font-family: "Merriweather Sans", sans-serif;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 20vh;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
}
.middle-box {
  max-width: 50%;
  width: 50%;
}
.g-signin2,
.abcRioButtonLightBlue,
.abcRioButton {
  width: 100% !important;
  height: 140px;
}
