@import "../../../sass/colors.scss";
@import "../../../sass/mixins.scss";
@import "../../../sass/config.scss";

.highlight {
  background: darkgrey;
}

#nav-icon {
  position: relative;
  height: 100%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  position: absolute;
  right: 1em;
  display: block;
  height: 3px;
  max-width: 30px;
  width: 100%;
  background: $etimo-light-font;
  border-radius: 9px;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  margin-top: 0px;
}

#nav-icon span:nth-child(2) {
  margin-top: 10px;
}

#nav-icon span:nth-child(3) {
  margin-top: 20px;
}

.menuItemDiv{
  padding:0.6em 0;
}
.selected  {
  background:rgba(255,255,255,0.5);
}
.sidebar {
  z-index:10;
  background-color: $etimo-cyan;
  position: fixed;
  width: 85%;
  height: 100%;
  display: inline-block;
  top: 4.2em;
  margin:0;
  padding:0;
  padding-top:1em;
  vertical-align: middle;
  transition: right 0.5s;
  -webkit-transition: right 0.5s;
}
.menu-open {
  right: -100%;
}
.menu-closed {
  right: 0px;
}

