$etimo-blue: #253444;
$etimo-cyan: #1abc9c;
$font-color: $etimo-blue;

$photo-border: silver solid;

$header-height: 2em;
$footer-height: 8em;
body {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
}
.icon-menu {
  @extend .icon;
  background: url("../public/navicon-round.svg");
  background-size: cover;
}
.icon-filter {
  @extend .icon;
  background: url("../public/android-search.svg");
  background-size: cover;
}
.right {
  position: absolute;
  right: 1em;
}
main {

}
.text-center {
  text-align: center;
}

header {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0;
  overflow: hidden;
  height: $header-height;
  background: white;
  font-style: bold;
  font-size: 1.3em;
  border-bottom: 1px solid $etimo-cyan;
  span {
    padding-top: 10em;
    margin-left: 0.3em;
    display: none;
  }
  .icon {
    margin-top: 0.2em;
  }
}

main {
  min-height: 100vh;
  padding-top: $header-height;
  padding-bottom: $footer-height;
  text-align: left;
  background: white;
  padding-top: 3em;
  overflow-x: hidden;
}

footer {
  height: $footer-height;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  padding-top: 1em;
  border-top: 1px solid $etimo-cyan;
  // border-top: 1px solid lightgrey;
  background: #fff;
}
.item {
  flex: 0 0 auto; 
  padding:0 15px;
  margin: 0;
}
button {
  @extend .item;
  background-color: white;
  border: 1px solid $etimo-cyan; 
  color: $etimo-blue; 
  padding: 10px 24px; 
  cursor: pointer; 
  &:hover {
      background-color:  $etimo-blue; 
      color: white;
  }
}