@import "colors";
@import "mixins";
@import "config";

:root {
  font-size: $font-size;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  max-height: 100vh;
  overflow: hidden;
  font-size: $font-size;
  background-color: $background-color;
  color: $etimo-blue;
  margin: 0;
}

.container {
  @include base-container();
  overflow: auto;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 93.5rem;
}

.container-single {
  @include base-container();
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 93.5rem;
}

.icon {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
}

.icon-menu {
  margin-top: 0.6em;
  @extend .icon;
  background: black;
  -webkit-mask: url("../public/navicon-round.svg");
  mask: url("../public/navicon-round.svg");
  background-size: cover;
  background-color: $etimo-light-font;
}

.icon-map {
  @extend .icon;
  background: url("../public/md-globe.svg");
  background-size: cover;
}
.icon-garden {
  @extend .icon;
  background: url("../public/md-film.svg");
  background-size: cover;
}

.icon-filter {
  @extend .icon;
  background: url("../public/android-search.svg");
  background-size: cover;
}

body .closed {
  display: none;
}

.right {
  position: absolute;
  right: 4em !important;
  padding: 0;
  top: 1.5em;
}

.text-center {
  text-align: center;
}

.main-container {
  @include base-container();
  display: flex;
  flex-direction: column;
  height: 100vh;
}

footer {
  @include base-container();
  width: 100vw;
  min-height: $footer-height;
  flex-grow: 0;
  flex-shrink: 0;

  border-top-width: 1px;
  border-top-color: $etimo-cyan;
  border-top-style: solid;
}

header {
  @include base-container();
  z-index: 11;
  width: 100vw;
  height: $header-height;
  flex-grow: 0;
  flex-shrink: 0;
}

button {
  background-color: white;
  border: 1px solid $etimo-cyan;
  color: $etimo-blue;
  padding: 10px 24px;
  cursor: pointer;

  &:hover {
    background-color: $etimo-blue;
    color: white;
  }
}
.container-map {
  @extend .container-single;
  top: 4.2em;
  margin: 0 auto;
  z-index: 9;
  max-width: 100%;
  max-height: 100%;
}
